<div class="jumbotron">
<div class="container">
    <h1>
      Bienvenue sur Apibet
    </h1>
  <ngb-alert type="warning" [dismissible]="false">
    En cours de construction !
  </ngb-alert>
  <ngb-progressbar showValue="true" type="success" [value]="7">
  </ngb-progressbar>  
</div>
</div>

<div class="container">
<ngb-tabset>
  <ngb-tab title="Accueil">
      <ng-template ngbTabContent>
        <p class="mt-4">Bienvenue Fly ! (ou j0hnb00k ?)
          <button type="button"
                  class="btn btn-secondary"
                  placement="bottom"
                  ngbPopover="A popover in tab 1"
                  popoverTitle="Bacon is good">
            Click me
          </button>
        </p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Équipes">
      <ng-template ngbTabContent>
        <p>Content for tab 2</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div> 