<div class="container-fluid">
  <!-- MENU -->
  <div class="row">
    <div class="col-md-12 text-center"><app-menu></app-menu></div>
  </div>

  <!-- MIDDLE -->
  <div class="row">

    <!-- SIDE LEFT-->
    <div class="col-md-2"><app-sideleft></app-sideleft></div>

    <!-- CONTENT -->
    <div class="col-md-8 text-center"><router-outlet></router-outlet></div>

    <!-- SIDE RIGHT -->
    <div class="col-md-2"><app-sideright></app-sideright></div>

  </div>

  <!-- FOOTER -->
  <div class="row">
    <div class="col text-center">APP-FOOTER</div>
  </div>

</div>



