<!-- T0D0

		TABLE DE PARAM????

-->

Apibet EURO 2020 - Règlement

Première phase: à remplir avant le début de la compétition:
------------------------------------------------------------

- Pronos sur chaque match de groupe (*)
- Classement des groupes (**)
- Meilleurs buteurs (**)
- Vainqueur de la CDM (**)
- Questions (**)
- Dream Team (Introduction du mercato - 3 remplacements possibles - Choix formation)

(*): Les pronostics des matchs peuvent être modifiés jusqu'à 1h avant le coup d'envoi.

(**): A remplir 1h avant le début de la compétition, pas de modification possible.

Mercato: 
Cette phase se déroule tous les jours entre 00h01 et 11h59 [adapation en fonction des heures des matchs]. 
Le dernier jour du mercato est la veille de la première demi-finale.
Elle vous permet d'effectuer des changements dans votre équipe si vous souhaitez remplacer un joueur. Vous avez droit à 3 changements au total. 
Changer son capitaine revient à changer un joueur et compte pour un remplacement. (Exemple: Giroud est votre capitaine, vous le remplacez par Morata et choisissez Trippier capitaine, cela fera 2 remplacements).
Les points gagnés par vos joueurs remplacés restent comptabilisés dans votre total. Les points gagnés par vos remplaçants ne sont comptabilisés que lorsqu'il intègre votre équipe... logique.


Deuxième phase: Après la phase de groupe:
------------------------------------------

- On pronostique tour par tour
- L'arbre étant déjà connu, les pronos seront disponibles dès que les équipes se sont qualifiées.



/!\ Questionnaire, classement ou dream team non rempli avant la date limite = irréversible à part avec un très gros pot-de-vin.

PREMIERE PHASE
1. Phases de groupes
- Chaque match de poule est pronostiqué en mode 1 – X – 2.
- Répartition des points : +1 si juste, 0 si faux, -1 si contraire.
- ATTENTION: Les matchs dorés sont des "TOP MATCHS" et valent +3, 0, -3.

2. Classement des groupes
- Vous déterminez le classement des groupes.
- Votre classement final peut-être différent des résultats des matchs que vous avez pronostiqué, il s’agit de deux choses indépendantes.
- Par exemple, si vous avez parié 3 victoires de l'Allemagne dans les paris sur les matchs, vous n’êtes pas obligé de la mettre à la première place de votre classement du groupe.
- Répartition des points :
- Par qualifié correct, +3 points
- + 2pts par "position" correcte dans le groupe (cumulable avec le +3 de l’équipe qualifiée)
- - 3 pts si l’un de vos deux « qualifiés » termine dernier du groupe.
- - 3 pts si votre dernier du groupe se qualifie pour les 1/8èmes.
Exemples:
Groupe B - Résultat réel	Groupe B - Pronostic	Résultats
1. Portugal 	1. Espagne 	Qualifié correct: +3pts	
2. Espagne 	2. Portugal 	Qualifié correct: +3pts	
3. Maroc 	3. Iran 	Rien: 0 pt
4. Iran 	4. Maroc 	Rien: 0 pt
		TOTAL: +6pts
Groupe B - Résultat réel	Groupe B - Pronostic	Résultats	
1. Iran 	1. Portugal 	Votre premier est dernier: -3pts	
2. Espagne 	2. Espagne 	Qualifié correct + bonne place: +5pts	
3. Maroc 	3. Maroc 	Position correcte: +2pts	
4. Portugal 	4. Iran 	Votre dernier est premier: -3pts	
		TOTAL: +1pt
Groupe B - Résultat réel	Groupe B - Pronostic	Résultats
1. Iran 	1. Iran 	Qualifié correct + bonne place: +5pts
2. Espagne 	2. Espagne 	Qualifié correct + bonne place: +5pts	
3. Maroc 	3. Maroc 	Position correcte: +2pts
4. Portugal 	4. Portugal 	Position correcte: +2pts
		TOTAL: +14pts

3. Meilleur buteur
- Vous devinez le meilleur buteur du tournoi, vous pouvez proposer 3 joueurs.
- + 15 points si l’un de vos 3joueurs est meilleur buteur à la fin du tournoi (même en cas d’égalité).
- Si plusieurs de vos joueurs terminent meilleur buteur à ex-aequo, on ne comptabilise qu’une fois les 15 points.

Différence: plus de malus si joueur muet

4. Vainqueur
- Pronostic sur le vainqueur du tournoi pour +15 points.

5. Questions (Introduction des questions bonus)

- Veuillez répondre à toutes les questions AVANT le début du tournoi.
- Pas de possibilité de modifier ses réponses en cours de compétition.
- Veuillez répondre aux questions fermées par OUI ou NON.
- + 2 points par bonne réponse.
- - 1 point par mauvaise réponse.

Question bonus (10):
-----------------------

- Question ouverte, tentez de deviner la réponse: le joueur avec la réponse la plus proche de la réalité remporte 5€ ainsi que +2pts. -> Quoi si égalité? Les pts pour tlm mais la thune? 
- 10 questions au total -> (nbre de buts, cj, cr, penalty - minute/seconde du premier goal - minute/seconde du goal le plus rapide? - Combien de minutes joueura CR7 sur tte la compét? Combien de pts aura fly à la fin du tournoi? = 8questions - what else? )


6. Equipe fantaisy
- Afin de créer une équipe type, une base de données de joueurs a été mise à votre disposition
- Vous choisissez une formation (442 - 433 - 352)
- Votre équipe se compose de 11 joueurs, maximum 3 joueurs de la même nation
- 3 remplacements sont à votre disposition (CF Mercato ci-dessus)
- Vous choisissez également un Capitaine, le Capitaine verra ses points doublés
- Répartition des points :
But attaquant:
+2 pts
But milieu:
+3 pts
But def:
+4 pts
But gardien:
+10 pts
Carton jaune:
-1 pt	
Carton rouge:
-2 pts
	
Autogoal:
-3 pts
	
Assist:
+1 pt
	
But encaissé (peu importe le nombre) gardien:
-1 pt
Clean sheet gardien:
+3 pts
Joueur Gagnant CDM:
+5 pts
Joueur HDM:
+5 pts 
Temps de jeu: 45':
+1 pt
Temps de jeu: 60+':
+2pts

- ATTENTION: 
- Aucun point ne sera distribué ou retiré lors des séances de tirs aux buts.
- Si un gardien sort avant la 60' et a 0 goal encaissé: pas de CS.
- La petite finale est comptabilisée


DEUXIEME PHASE
- Une fois la phase de groupe terminée, vous pronostiquez phase par phase:
- Les pronostics seront disponibles peu après les résultats et ce jusqu'à 1h avant le début de la première rencontre de chaque phase
- Ici, on ne parie plus en mode 1 – X – 2 mais uniquement sur l’équipe qui se QUALIFIERA.
- +5 pts par qualifié correct pour les 1/8, 1/4 et demi
- +10 pour le champion du monde (cumulable avec votre champion pré-compétition)
- On pronostique sur la petite finale 


PARTICIPATION
- 10€ par personne à verser sur le n° de compte suivant: BE17 8601 1528 8421 avec en communication: j0hnb00k
- Le versement doit être effectué avant le début de la compétition pour que votre participation soit validée.
- Pour la répartition des gains, nous verrrons losque que tous les joueurs seront confirmés. (1er: 60% / 2eme: 30% / 3eme: 10€ / ApiCoach: 10% / Question bonus: 5€ each)
- En cas d'égalité finale, le joueur avec la meilleure dream team l'emporte. Si les deux joueurs sont de nouveau à égalité, le joueur avec le bon champion avant la compétition l'emporte. Si de nouveau égalité il y a, le joueur qui aura gagné le plus de points dans les classements de groupes l'emporte.
- Apibet se réserve le droit de participation.
AVERTISSEMENT
Ce site est avant tout fait pour s'amuser entre amis, il se peut que des erreurs aient été commises pour le calcul des points.
 Vous pouvez trouver toutes vos statistiques dans la partie profil.
 Si vous trouvez des erreurs, pas de panique, il suffit de nous prévenir et nous trouverons la solution. 
 Le plus important étant que vos pronostics soient bien enregistrés.

